<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation=
		"http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/data/jpa 
		http://www.springframework.org/schema/data/jpa/spring-jpa-1.0.xsd
		http://www.springframework.org/schema/aop 
       	http://www.springframework.org/schema/aop/spring-aop.xsd
       	http://www.springframework.org/schema/tx
       	http://www.springframework.org/schema/tx/spring-tx.xsd
       	http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">
 
	<!-- activate annotation configured components -->
	<context:annotation-config />

	<!-- scan components for annotations within the configured package -->
	<context:component-scan base-package="tool.automator.database">
		<context:exclude-filter type="annotation" expression="org.springframework.context.annotation.Configuration" />
	</context:component-scan>
	
	<jpa:repositories base-package="tool.automator.database" />

	<!-- core -->
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="generateDdl" value="true" />
			</bean>
		</property>
		<property name="persistenceUnitName" value="SampleTestPU" />
	</bean>

	<bean id="projectService" class="tool.automator.database.table.project.ProjectServiceImpl"></bean>
	<bean id="pageService" class="tool.automator.database.table.uipage.UIPageServiceImpl"></bean>
	<bean id="elementService" class="tool.automator.database.table.element.ElementServiceImpl"></bean>
	<bean id="elementValueService" class="tool.automator.database.table.elementvalue.ElementValueServiceImpl"></bean>
	
	<bean id="pageDependencyService" class="tool.automator.database.table.pagedependency.PageDependencyServiceImpl"></bean>
	<bean id="pageConditionService" class="tool.automator.database.table.pagecondition.PageConditionServiceImpl"></bean>
	
	<bean id="elementRestrictionService" class="tool.automator.database.table.elementrestriction.ElementRestrictionServiceImpl"></bean>
	<bean id="elementConditionService" class="tool.automator.database.table.elementcondition.ElementConditionServiceImpl"></bean>
	
	<bean id="elementValueRestrictionService" class="tool.automator.database.table.elementvaluerestriction.ElementValueRestrictionServiceImpl"></bean>
	<bean id="elementValueConditionService" class="tool.automator.database.table.elementvaluecondition.ElementValueConditionServiceImpl"></bean>

	<!-- transaction -->
	<tx:annotation-driven transaction-manager="transactionManager" />

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
</beans>
