<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>AutomatorDBUI</display-name>

	<servlet>
		<servlet-name>AddProject</servlet-name>
		<servlet-class>tool.automator.server.servlet.addedit.AddEditProject</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetPageDetails</display-name>
		<servlet-name>GetPageDetails</servlet-name>
		<servlet-class>tool.automator.server.servlet.getdetails.GetPageDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetProjectDetails</display-name>
		<servlet-name>GetProjectDetails</servlet-name>
		<servlet-class>tool.automator.server.servlet.getdetails.GetProjectDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetConditionDetails</display-name>
		<servlet-name>GetConditionDetails</servlet-name>
		<servlet-class>tool.automator.server.servlet.getdetails.GetConditionDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddEditPage</display-name>
		<servlet-name>AddEditPage</servlet-name>
		<servlet-class>tool.automator.server.servlet.addedit.AddEditPage</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddEditElement</display-name>
		<servlet-name>AddEditElement</servlet-name>
		<servlet-class>tool.automator.server.servlet.addedit.AddEditElement</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddEditElementValue</display-name>
		<servlet-name>AddEditElementValue</servlet-name>
		<servlet-class>tool.automator.server.servlet.addedit.AddEditElementValue</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddEditCondition</display-name>
		<servlet-name>AddEditCondition</servlet-name>
		<servlet-class>tool.automator.server.servlet.addedit.AddEditCondition</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetPageNameSuggestions</display-name>
		<servlet-name>GetPageNameSuggestions</servlet-name>
		<servlet-class>tool.automator.server.servlet.getsuggestions.GetPageNameSuggestions</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetElementNameSuggestions</display-name>
		<servlet-name>GetElementNameSuggestions</servlet-name>
		<servlet-class>tool.automator.server.servlet.getsuggestions.GetElementNameSuggestions</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetElementValueSuggestions</display-name>
		<servlet-name>GetElementValueSuggestions</servlet-name>
		<servlet-class>tool.automator.server.servlet.getsuggestions.GetElementValueSuggestions</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SavePage</display-name>
		<servlet-name>SavePage</servlet-name>
		<servlet-class>tool.automator.server.servlet.save.SavePage</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SaveElement</display-name>
		<servlet-name>SaveElement</servlet-name>
		<servlet-class>tool.automator.server.servlet.save.SaveElement</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SaveElementValue</display-name>
		<servlet-name>SaveElementValue</servlet-name>
		<servlet-class>tool.automator.server.servlet.save.SaveElementValue</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SaveCondition</display-name>
		<servlet-name>SaveCondition</servlet-name>
		<servlet-class>tool.automator.server.servlet.save.SaveCondition</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetRestrictionDetails</display-name>
		<servlet-name>GetRestrictionDetails</servlet-name>
		<servlet-class>tool.automator.server.servlet.getdetails.GetRestrictionDetails</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AddProject</servlet-name>
		<url-pattern>/AddProject</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetPageDetails</servlet-name>
		<url-pattern>/GetPageDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetProjectDetails</servlet-name>
		<url-pattern>/GetProjectDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetConditionDetails</servlet-name>
		<url-pattern>/GetConditionDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddEditPage</servlet-name>
		<url-pattern>/AddEditPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddEditElement</servlet-name>
		<url-pattern>/AddEditElement</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddEditElementValue</servlet-name>
		<url-pattern>/AddEditElementValue</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddEditCondition</servlet-name>
		<url-pattern>/AddEditCondition</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetPageNameSuggestions</servlet-name>
		<url-pattern>/GetPageNameSuggestions</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetElementNameSuggestions</servlet-name>
		<url-pattern>/GetElementNameSuggestions</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetElementValueSuggestions</servlet-name>
		<url-pattern>/GetElementValueSuggestions</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SavePage</servlet-name>
		<url-pattern>/SavePage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveElement</servlet-name>
		<url-pattern>/SaveElement</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveElementValue</servlet-name>
		<url-pattern>/SaveElementValue</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveCondition</servlet-name>
		<url-pattern>/SaveCondition</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetRestrictionDetails</servlet-name>
		<url-pattern>/GetRestrictionDetails</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
